/* CSS Structure
  1. Colours 
  2. Typograph 
  3. Main Layout 
  4. Navigation 
  5. Buttons
  6. Map 
  7. Social
  8. Management Page
  9. Booking Modal / Cancel Modal
 10. Confirmation page
 /* CSS Structure end----------------*/


 @import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto&display=swap");

 /* --------- 1. Colours ------ */
 *,
 ::before,
 ::after {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
 }
 
 body {
     overflow-x: hidden;
 }
 :root {
     
   --navbar:#ffffff;
   --nav-text: #4a4a4a;
   --nav-text-hover:#fc7a7a;  
   --hero-text:#ffffff;  
   --footer:#d6d6d6;    
   --Button2: #306135;  
   --button-hover: #fc7a7a;  
   --button-cancel: #fc7a7a;
   --social: #fc7a7a;  
 }
 
 /* --------- 2. Typography ------ */
 
 h1,
 h2,
 h3 {
   font-family: "Roboto", sans-serif;
   font-weight: 600;
 }
 
 p {
   font-family: "Exo 2", sans-serif;
   line-height: 1.7;
   font-weight: 400;
 }
 
 /* --------- 3. Main Layout ------ */
 
 header {
     background-color: var(--navbar);
     padding: 20px;
     text-align: center;
     position: sticky;
     top: 0;
     z-index: 3;
 }
 
 .hero-section {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color:var(--hero-text);
     text-align: center;
     position: relative;
     overflow: hidden;
 }
 
 .hero-section video {
     position: absolute;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     transform: translate(-50%, -50%);
     z-index: -1;
 }
 
 .hero-content {
     z-index: 1;
     position: relative;
 }
 
 .hero-header {
     font-family: "Roboto", sans-serif;
     font-size: 4rem;
     font-weight: 500;
     
 }
 
 .hero-text {
     font-family: "Exo 2", sans-serif;
     font-size: 2rem;
     font-weight: 400;
     
 }
 .about-section {
     padding: 20px;
     text-align: center;
 }
 
 .about-header {
     margin-top: 2%;
 }
 
 .about-us-text {
     max-width: 80%;
 }
 
 .footer {
     background-color: var(--footer);
     padding: 20px;
     
 }
 .final-text {
     text-align: center;
     color:var(--nav-text)
 }
 
 /* --------- 4. Navigation ------ */
 
 
 .navbar-brand {
   color: var(--nav-text);
   margin: auto;
   padding-right: 0;
 }
 
 .navbar-nav {  
   list-style: none;  
 }
 
 .nav-link {
     font-weight: 400;
     font-size:1.2rem;
 }
 
 .nav-link:hover {
   color:var(--nav-text-hover);
 }
 
 /* --------- 5. Buttons ------ */
 
 .booking-button-section {
   margin: 3%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 /* --------- 6. Map ------ */
 
 #map {
   margin: 2% auto 2% auto;  
   width: 50%;
   height: 250px;
   background-color: transparent;
 }
 .map-header {
     margin-top: 2%;
 }
 
 /* --------- 7. Social ------ */
 
 .social {
   margin: 2% 2% 2% 2%;
   
 }
 
 .social a {
     list-style: none;
     text-decoration: none;
     font-size:2vh;
 }
 i {
     color:var(--social);
 }
 
 /* --------- 8. Management ------ */
 
 .management-page a {
   float: left;
   font-size: 0.9rem;
   font-weight: 400;
   margin: 0 0 0 2%;
   text-decoration: none;
   color:var(--nav-text);
 
 }
 
 
 /* --------- 9. Modals ------ */
 
 
 /* --------- Menu Modal ------ */
 #menu-text li {
   text-align: center;
   list-style: none;
 }
 
 #menu-text  {
   text-align: center;
 }
 /* --------- Menu Modal End------ */
 
 /* --------- 10. Confirmation page  ------ */
 .confirmation-page {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   height: 100vh;      
 }
 
 .confirmed-booking {
   margin: 2% auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .confirmed-booking p {
   font-size: 1.8rem;
   font-weight: 400;
 }
 
 .cancel-information p {
   margin-top: 2%;
   font-size: 0.8rem;
   font-weight: 200;
   max-width: 50%;
   text-align: center;
 }