{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fine dining,eating in the canopy,good food,restaurant,forest,lake">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806791/static/favicon.66b5004494c4.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Woodhouse</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695807003/static/woodhouse/images/tree.ec451f8c7199.png" alt="Tree Logo" width="89" height="90" class="d-inline-block align-text-top" loading="lazy">
            <a href="#" class="navbar-brand nav-link"><span class="h1">TreeTop</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">        
            <ul class="navbar-nav ms-lg-5 sm-3">          
              <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#restaurantModal">The restaurant</a></li>
              <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#menuModal">Our menu</a></li>
              <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal">Contact us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </header>


<div class="hero-section video">
    <video src="https://res.cloudinary.com/dgve5ifit/video/upload/v1695807006/static/woodhouse/video/video.f726cfd5cba3.mp4" autoplay muted loop playsinline></video>

<div class="hero-section">

<div class="hero-content">
    <h1 class="hero-header">Treetop Woodhouse restaurant</h1>
    <p class="hero-text">Dine in the canopy</p>
</div>      
    <div class="booking-button-section">
        <a href="#bookingModal" class="btn btn-primary btn-lg btn-success" data-bs-toggle="modal"
          data-bs-target="#bookingModal">
          Book a table</a>
      </div>

</div>

</div>

<div class="row justify-content-evenly">
    <div class="col-md-5 text-center">
        <h2 class="about-header">About us</h2>
        <p class="about-us-text">In 1997, nestled within a quiet forest, a chef transformed a simple childhood treehouse into a unique treetop restaurant. 
          Once a secret spot of joy, it was refurbished in 2021, and it’s now a cozy dining place where delicious meals bring back sweet memories among rustling leaves.
           With a mix of rustic charm and tasty dishes, it offers a memorable dining experience under the stars.</p>
    </div>
    <div class="col-md-5 text-center">
        <h2 class="map-header">Where to find us?</h2>
        <div id="map"></div>  
    </div>
</div>
  
  
<footer class="row">
    <div class="col-md-4 text-center cancel-section">
        <a href="#cancelModal" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelModal">
            Cancel a reservation
        </a>
    </div>
   
    <div class="col-md-4 text-center social">
        <a class="mx-2" href="https://www.facebook.com"  aria-label="link to our facebook page">
          <i class="fab fa-facebook-f fa-2xl"></i>
        </a>
        <a class="mx-2" href="https://www.instagram.com" aria-label="link to our instagram">
          <i class="fab fa-instagram fa-2xl"></i>
        </a>
        <a class="mx-2" href="https://www.pinterest.com/" aria-label="link to our pinterest">
          <i class="fab fa-pinterest fa-2xl"></i>
        </a>
    </div>
    <div class="col-md-4 final-text">
        <p>© 2023</p>
    </div>
</footer>
<div class="row">
    <div class="col-12 text-center management-page">
        <a href="/admin" class="nav item">Management</a>
    </div>
</div>


    <script src="https://kit.fontawesome.com/97d1638932.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script
   src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
   defer
></script>

{% include "restaurant/modal_restaurant.html" %}

{% include "restaurant/modal_ourmenu.html" %}

{% include "restaurant/modal_contactus.html" %}

{% include "restaurant/modal_booking.html" %}

{% include "restaurant/modal_cancelbooking.html" %}
</body>
</html>