{% load static %}
<!--contact-us-modal-->
{% load widget_tweaks %} {% load crispy_forms_tags %}

<div class="modal fade" id="contactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="contactModal" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h1 class="modal-title fs-5" id="cancelModalLabel">Contact Us</h1>

      </div>
      <div class="modal-body">

        <div class="mb-3">
          <form method="post" action="{% url 'contactus' %}">
            {% csrf_token %}
            {% for field in contactusform %}
            <div class="mb-3">

              {{ field.label_tag }}
              {% render_field field class+="form-control" %}


              {% if field.errors %}
              <div class="alert alert-danger" role="alert">
              </div>
              {% endif %}
            </div>

            {% empty %}
            {% endfor %}

            <div class="modal-footer">

              <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary btn-success">Send</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  </html>