{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--restaurant modal-->
<div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="menuModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 menu-header" id="menuModalLabel">Our Menu</h1>
            </div>
            <div class="modal-body" id="menu-text">                
                <h1>starters</h1>
                <ul>
                    <li><p>Jerusalem Artichoke Soup with Crumbled Wild Boar Sausages, Schnapps from Kyrkeby, Vissefjärda</p>
                    </li>
                    <li><p>Lingonberries and Potatoes, Lingonberries Flavored with Ljungby Gin</p></li>
                </ul>
                <h2>Main Courses</h2>
                <ul>
                    <li><p>Freshly Picked Chanterelles from Småland Forests with Fresh Corn and Grilled Zucchini</p></li>
                    <li><p>Pikeperch with Crayfish and Chanterelles, Butter-Baked Pointed Cabbage, Crayfish and Crown Dill
                        Sauce</p></li>
                    <li><p>Variation of Potatoes from Stellan in Bläsinge with Stewed Artichoke, Swede, and Summer Truffle</p>
                    </li>
                    <li><p>Rooster from Stackvallen with Parsnips from Vassmolösa, Red Currants, and Tarragon from Our
                        Garden</p></li>
                </ul>
                <h3>Cheese Course</h3>
                <ul>
                    <li><p>Bonnakringla with Vasen’s Priest Cheese and "Apple Jam - Make Do With What You Have"</p></li>
                </ul>
                <h4>Desserts</h4>
                <ul>
                    <li><p>Wild Strawberries with Pistachios, Fresh Cheese, and Honey from Our Hives</p></li>
                </ul>
            </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-success" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>