{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--restaurant modal-->
<div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="menuModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 menu-header" id="menuModalLabel">Our Menu</h1>
            </div>
            <div class="modal-body" id="menu-text">                



                {% for message in messages %}
                <h5 class="warning-message"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
                {% endfor %}
                        

                    {% empty %}
                    {% endfor %}                    


                    {% for message in messages %}
                    <h5 class="warning-message"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
                    {% endfor %}
    
               <h2>starters</h2>
                <ul>
                    <li><p>starter_1</p>
                    </li>
                    <li><p>starter_1</p></li>
                </ul>
                <h2>Main Courses</h2>
                <ul>
                    <li><p>Main_1</p></li>
                    <li><p>Main_2</p></li>
                    <li><p>Main_3</p>
                    </li>
                    <li><p>Main_4</p></li>
                </ul>
                <h3>Cheese Course</h3>
                <ul>
                    <li><p>Dessert_1</p></li>
                </ul>
                <h4>Desserts</h4>
                <ul>
                    <li><p>Dessert_2</p></li>
                </ul>
            </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-success" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>