
{% load static %}
<!--restaurant modal-->  
<div class="modal fade" id="restaurantModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="restaurantModal" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="restaurantModalLabel">The restaurant</h1>          
    </div>
    <div class="modal-body">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695807000/static/woodhouse/images/pexels-taryn-elliott-4840135.95fe305aca5d.jpg" loading="lazy" class="d-block w-100" alt="One of our treehouses">
            </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806999/static/woodhouse/images/pexels-taryn-elliott-3889919.df5dfdf046a5.jpg" loading="lazy" class="d-block w-100" alt="A signature dish">
            
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806998/static/woodhouse/images/pexels-roman-odintsov-4553378.13e69549e2da.jpg" loading="lazy" class="d-block w-100" alt="Vegetables from the farm">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806997/static/woodhouse/images/pexels-kyle-roxas-2122294.2c902a5a7bf8.jpg" loading="lazy" class="d-block w-100" alt="One of our starters">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806996/static/woodhouse/images/pexels-geraud-pfeiffer-6542789.0c6aedbccf3f.jpg" loading="lazy" class="d-block w-100" alt="Not a local lobster">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806994/static/woodhouse/images/pexels-dian-eva-6190120.9bda5e190456.jpg" loading="lazy" class="d-block w-100" alt="The treehouse from above">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dgve5ifit/image/upload/v1695806995/static/woodhouse/images/pexels-elevate-1267320.4e781f0db4fc.jpg" loading="lazy" class="d-block w-100" alt="The treehouse from above another angel">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-success" data-bs-dismiss="modal">Close</button>          
    </div>
  </div>
</div>
</div>

</html>